/* Add CSS Styling */

.odd {
    background-color: salmon;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

.large-font {
    font-size: 24px;
}

#number2 {
    color: blue;
    font-size: 36px;
}

#number4 {
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}