/* Add CSS Styling */

.dark {
    background-color: black;
    color: white;
}

.colorful {
    background-color: yellow;
}

.large-button {
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}